<div class="header-push container">
	<div class="row">

		<form class="col-md-4 col-md-offset-4 login-form" ng-submit="login()">
			<h2>Account Settings</h2>
			<div class="form-group">
				<label for="inputEmail">Email Address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required="" autofocus="" ng-model="email">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
			</div>
			<div class="pull-right">
				<button class="btn btn-default">Cancel</button>
				<button class="btn btn-primary" type="submit">Save Changes</button>
			</div>
		</form>
	</div>

</div>