<div class="gallery-container">
  <!-- START THE GALLERY -->
  <h2>Dane's Favorites <a ui-sref="favorites"><span>See More...</span></a></h2>
  <div class="recipe-gallery">

    <div class="recipe-item" ui-sref="recipe({ idNumber: recipe.id })" ng-repeat="recipe in recipes">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <div class="recipe-item-edit" ui-sref="recipe({ idNumber: recipe.id })">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </div>
        <h3>{{ recipe.name }}</h3>
        <ul class="details">
          <li>{{ recipe.ingredients.length }} Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ recipe.prepTime }}min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">{{ recipe.calories }}<br>cal</div>
          <div class="pro">{{ recipe.protein }}g<br>pro</div>
          <div class="fat">{{ recipe.fat }}g<br>fat</div>
          <div class="car">{{ recipe.carbs }}g<br>car</div>
        </div>
      </div>
    </div>

  </div>

</div><!-- /.container -->

<!-- /END THE GALLERY -->

<div class="gallery-container">
  <!-- START THE CMF GALLERY -->
  <h2>College Man Food's best</h2>
  <div class="recipe-gallery">

    <div class="recipe-item" ui-sref="recipe">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <h3>Apple Cumin Pork Ribs</h3>
        <ul class="details">
          <li>3 Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">700<br>cal</div>
          <div class="pro">36g<br>pro</div>
          <div class="fat">12g<br>fat</div>
          <div class="car">4g<br>car</div>
        </div>
      </div>
    </div>

    <div class="recipe-item"  ui-sref="recipe">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <h3>Apple Cumin Pork Ribs</h3>
        <ul class="details">
          <li>3 Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">700<br>cal</div>
          <div class="pro">36g<br>pro</div>
          <div class="fat">12g<br>fat</div>
          <div class="car">4g<br>car</div>
        </div>
      </div>
    </div>

    <div class="recipe-item"  ui-sref="recipe">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <h3>Apple Cumin Pork Ribs</h3>
        <ul class="details">
          <li>3 Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">700<br>cal</div>
          <div class="pro">36g<br>pro</div>
          <div class="fat">12g<br>fat</div>
          <div class="car">4g<br>car</div>
        </div>
      </div>
    </div>

    <div class="recipe-item" ui-sref="recipe">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <h3>Apple Cumin Pork Ribs</h3>
        <ul class="details">
          <li>3 Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">700<br>cal</div>
          <div class="pro">36g<br>pro</div>
          <div class="fat">12g<br>fat</div>
          <div class="car">4g<br>car</div>
        </div>
      </div>
    </div>

    <div class="recipe-item" ui-sref="recipe">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <h3>Apple Cumin Pork Ribs</h3>
        <ul class="details">
          <li>3 Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">700<br>cal</div>
          <div class="pro">36g<br>pro</div>
          <div class="fat">12g<br>fat</div>
          <div class="car">4g<br>car</div>
        </div>
      </div>
    </div>

    <div class="recipe-item" ui-sref="recipe">
      <div class="recipe-item-img">
        <img src="images/shrimp.jpg">
      </div>
      <div class="recipe-item-details">
        <h3>Apple Cumin Pork Ribs</h3>
        <ul class="details">
          <li>3 Ingredients</li>
          <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
        </ul>
        <div class="nutrients">
          <div class="cal">700<br>cal</div>
          <div class="pro">36g<br>pro</div>
          <div class="fat">12g<br>fat</div>
          <div class="car">4g<br>car</div>
        </div>
      </div>
    </div>

  </div>

</div><!-- /.container -->
