    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide header-push" data-ride="carousel" ng-hide="searching">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline. {{ test }}{{ search }}</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" ng-hide="searching">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2><small>Make it</small><br>Cheap</h2>
          <p>Recipes that use the simplest and fewest of ingredients help keep costs at a minimum.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2><small>Make it</small><br>Fast</h2>
          <p>Who has time (or want’s to spend the time) to cook? Not us! Get out of the kitchen.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2><small>Make it</small><br>Simple</h2>
          <p>Simple lists, simple filters, simple recipes. A baby could do it. And you’re not a baby.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->

      <!-- SEARCH BAR -->

      <div class="navbar-form searchbar">
        <div class="form-group">
          <input type="text" id="searchbar" class="form-control" placeholder="Search for meals, ingredients, whatever..." ng-model="search">
        </div>
        <button class="btn btn-default">Filter</button>
      </div>

    <div class="gallery-container">
      <!-- START THE GALLERY -->
      <h2>Dane's Favorites <a ui-sref="favorites"><span>See More...</span></a></h2>
      <div class="recipe-gallery">

        <div class="recipe-item" ui-sref="recipe({ idNumber: recipe.id })" ng-repeat="recipe in recipes | filter:search">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <div class="recipe-item-edit" ui-sref="recipe({ idNumber: recipe.id })">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </div>
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

      </div>

    </div><!-- /.container -->

    <!-- /END THE GALLERY -->

    <div class="gallery-container">
      <!-- START THE CMF GALLERY -->
      <h2>College Man Food's best</h2>
      <div class="recipe-gallery">

        <div class="recipe-item" ui-sref="recipe">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

        <div class="recipe-item"  ui-sref="recipe">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

        <div class="recipe-item"  ui-sref="recipe">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

        <div class="recipe-item" ui-sref="recipe">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

        <div class="recipe-item" ui-sref="recipe">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

        <div class="recipe-item" ui-sref="recipe">
          <div class="recipe-item-img">
            <img src="images/shrimp.jpg">
          </div>
          <div class="recipe-item-details">
            <h3>Apple Cumin Pork Ribs</h3>
            <ul class="details">
              <li>3 Ingredients</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 3min prep</li>
            </ul>
            <div class="nutrients">
              <div class="cal">700<br>cal</div>
              <div class="pro">36g<br>pro</div>
              <div class="fat">12g<br>fat</div>
              <div class="car">4g<br>car</div>
            </div>
          </div>
        </div>

      </div>

    </div><!-- /.container -->

    <!-- /END THE GALLERY -->
